.messages {
  display: flex;
}

.messages-container {
  padding: 0.5rem;
}

.formulario {
  background-color: lightgray;
  padding: 0.2rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
}

.formulario input {
  width: 60%;
}

.formulario button {
  width: 30%;
  padding: 0.5rem;
  font-size: 0.8rem;
}

.contenedor {
  max-width: 500px;
  width: 30vw;
  margin: 2rem auto;
  background-color: rgb(113, 218, 186);
  color: white;
  padding: 0.7rem;
  border-radius: 1rem;
  box-shadow: inset 3px 3px 10px #363636;
}

.usuario {
  margin: 1rem 2rem;
}

.container_mensajes {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  font-size: 0.9rem;
}

.read {
  text-decoration: line-through;
}

.mensajes_recibidos {
  padding-bottom: 0;
}

.mensajes_recibidos li {
  background-color: lightgrey;
  padding: 0.5rem;
}

.mensajes_recibidos li img {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 0.5rem;
}

.mensajes_enviados {
  align-items: flex-end;
  padding-top: 0;
}

.mensajes_enviados li {
  background-color: lightblue;
  padding: 0.9rem 0.5rem;
}

.mensajes_enviados li img {
  width: 1.5rem;
  height: 1.1rem;
}

.mensaje_button {
  background-color: transparent;
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
}
